body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondoLOgin.webp'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
}

.login-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia */
    padding: 40px; /* Incrementa el padding para hacer el contenedor más grande */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Ajusta el ancho */
    max-width: 90%; /* Asegura que no se desborde en pantallas pequeñas */
}

.typing-animation {
    font-size: 48px; /* Tamaño de texto grande */
    margin-bottom: 20px;
    height: 60px; /* Ajustado para el tamaño de texto grande */
    overflow: hidden;
    color: #fff; /* Color del texto */
}

#animated-text {
    display: inline-block;
    white-space: nowrap;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

#animated-text::after {
    content: ''; /* Cursor del evento */
    display: inline-block;
    margin-left: 2px;
    border-right: 2px solid;
    animation: blink 0.7s infinite;
    color: #fff; /* Color del cursor */
}

.login-form input {
    display: block;
    width: 90%;
    padding: 15px; /* Aumenta el padding para inputs más grandes */
    margin: 15px 0; /* Aumenta el margen entre los inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Aumenta el tamaño del texto en los inputs */
}

.login-form button {
    width: 96%;
    padding: 15px; /* Aumenta el padding para el botón */
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px; /* Aumenta el tamaño del texto del botón */
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
